/* 

    SELF REMINDER:
    - Improve BEM for navbar

*/


@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  list-style-type: none;
  font-family: "Roboto", sans-serif;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: center;

  height: 80px;
  padding: 0 24px;
}

img {
  width: 100%;
  height: 100%;
  max-height: 50vh;
  padding: 20px;
}

p {
    line-height: 1.5;
}

button {
  cursor: pointer;
}

button:active {
    transform: translateY(2px);
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 1200px;
}

.text--purple {
  color: #7342d6;
}

.logo {
  width: 160px;
}

.nav-links {
  display: flex;
  gap: 24px;
}

/* Create underline effect on hover for all links EXCEPT for last link. */
.nav-links > *:not(:last-child):hover {
  text-decoration: underline;
}

.nav__link {
  padding: 8px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #7342d6;
}

.nav__link--i {
  border: 2px solid #7342d6;
  border-radius: 4px;
}

#landing {
  background-color: rgba(115, 66, 214, 0.1);
}


/* 

    HEADER SECTION

*/

header {
  height: calc(100vh - 80px);
  padding: 0 24px;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  max-width: 720px;
  height: 100%;
  margin: 0 auto;
}

.header-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-description__title {
  margin-bottom: 24px;
  font-size: 56px;
  text-align: center;
  color: #7342d6;
}

.header-description__subtitle, h2 {
  margin-bottom: 32px;
  font-size: 32px;
  text-align: center;
}

.header-description__btn {
  padding: 12px 24px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: #7342d6;
}

.header-img__wrapper {
    padding: 20px;
    z-index: 2;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row__wrapper {
    padding: 56px 0;
}

/* 

    HIGHLIGHTS SECTION
    FES Video - 25:15

*/

#highlights {
    position: relative;
    max-width: 100vw;
}

#highlights::before,
#highlights::after {
    content: "";
    position: absolute;
    background: url('assets/wave.svg');
    width: 101vw;
    height: 12vw;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
}


#highlights::before {
    top: 1px;
    left: 0;
    transform: translateY(-100%);
}

#highlights::after {
    bottom: 1px;
    left: 0;
    transform: translateY(100%) rotate(180deg);
}

.highlight__wrapper {
    display: flex;
}

.highlight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: calc(100%/3);
    padding: 0 24px;
}

.highlight__p {
    text-align: center;
    max-width: 280px;
}

.highlight__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin-bottom: 24px;

    border: 2px solid #7342d65d;
    border-radius: 4px;
    font-size: 32px;
    color: #7342d6;
}

.highlight__subtitle {
    margin-bottom: 16px;
    font-size: 20px;
}

/* 

    FEATURES
    FES Video - 40:00

*/

#features {
    height: 1000px;
    background-color: rgba(115, 66, 214, 0.1);
}