/* 

    SELF REMINDER:
    - Improve BEM for navbar

*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  list-style-type: none;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: center;

  height: 80px;
  padding: 0 24px;
}

img {
  width: 100%;
  height: 100%;
  max-height: 50vh;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

p {
  line-height: 1.5;
}


button:active {
  transform: translateY(2px);
}

.browse-books__btn {
  cursor: pointer;
  padding: 12px 24px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: #7342d6;
}

.no-cursor {
  cursor: not-allowed;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 1200px;
}

.text--purple {
  color: #7342d6;
}

.logo {
  width: 160px;
}

.nav-links {
  display: flex;
  gap: 24px;
}

.nav__link {
  padding: 8px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #7342d6;
}

.nav__link--i {
  border: 2px solid #7342d6;
  border-radius: 4px;

  &:hover {
    text-decoration: none;
  }
}

.btn__menu {
  display: none;
  border: none;

  font-size: 40px;
  text-align: center;
  color: #7342d6;
  background-color: transparent;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: white;
}

.menu__backdrop {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: all 300ms ease;
  
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  opacity: 0;

  background-color: #a55b5b;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}

.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.menu__link {
  font-size: 40px;
  color: white;
}

/* 

    LANDING SECTION

*/

#landing {
  background-color: rgba(115, 66, 214, 0.1);
}

header {
  height: calc(100vh - 80px);
  padding: 0 24px;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  max-width: 720px;
  height: 100%;
  margin: 0 auto;
}

.header-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-description__title {
  margin-bottom: 24px;
  font-size: 56px;
  text-align: center;
  color: #7342d6;
}

.header-description__subtitle,
h2 {
  margin-bottom: 32px;
  font-size: 32px;
  text-align: center;
}

.header-img__wrapper {
  padding: 20px;
  z-index: 2;
}

.header-img {
  padding: 20px;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row__wrapper {
  padding: 56px 0;
}

.row--flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 

    HIGHLIGHTS SECTION
    FES Video - 25:15

*/

#highlights {
  position: relative;
  max-width: 100vw;
}

#highlights::before,
#highlights::after {
  content: "";
  position: absolute;
  background: url("assets/wave.svg");
  width: 101vw;
  height: 12vw;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
}

#highlights::before {
  top: 1px;
  left: 0;
  transform: translateY(-100%);
}

#highlights::after {
  bottom: 1px;
  left: 0;
  transform: translateY(100%) rotate(180deg);
}

.highlight__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.highlight {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 3);
  padding: 0 24px;
}

.highlight__p {
  text-align: center;
  max-width: 280px;
}

.highlight__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin-bottom: 24px;

  border: 2px solid #7342d65d;
  border-radius: 4px;
  font-size: 32px;
  color: #7342d6;
}

.highlight__subtitle {
  margin-bottom: 16px;
  font-size: 20px;
}

/* 

    FEATURES
    FES Video - 40:00

*/

#features {
  padding-top: 8vw;
  background-color: rgba(115, 66, 214, 0.1);
}

.book-section {
  display: flex;
  flex-wrap: wrap;
}

.book {
  width: 25%;
  padding: 24px;
}

.book-cover {
  display: flex;
  margin-bottom: 8px;
  border-radius: 4px;
  overflow: hidden;
}

.book-cover__img {
  height: 100%;
  max-height: 380px;
  transition: all 300ms;

  cursor: no-drop;

  &:hover {
    transform: scale(1.03);
  }
}

.book__title {
  font-size: 20px;
  margin-bottom: 8px;

  &:hover {
    text-decoration: underline;
    cursor: no-drop;
  }
}

.book__ratings {
  margin-bottom: 8px;
  color: #fabf2a;
}

.book__price-normal {
  text-decoration: line-through;
  padding-right: 6px;
  color: #bfbfbf;
}

/* 

    EXPLORE SECTION

*/

#explore {
  background-color: rgba(115, 66, 214, 0.1);
}

/* 

    FOOTER

*/

footer {
  background-color: #242424;
}

.footer-logo__wrapper {
  display: flex;
}

.footer-logo__img {
  width: 160px;
  filter: grayscale(1) invert(1);
}

.footer-nav__link,
.footer-copyright {
  color: white;
}

.footer-nav__wrapper {
  width: 100%;
  padding: 0 24px;
  margin: 24px 0;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 400px;
}



/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 768px) {
  .header-description {
    padding: 0 24px;
  } 

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 26px;
  }

  button {
    font-size: 18px;
  }

  .book {
    width: 50%;
  }

  .highlight {
    width: 100%;
  }

  .highlight__wrapper {
    gap: 24px;
  }
}

/* SMALL PHONES, LARGE SMARTPHONES */
@media (max-width: 550px) {
  .nav-links {
    display: none;
  }

  .btn__menu {
    display: block;
  }
}